.carrousel {
	margin:0;
	padding:0;
	height:75px;
}
.carrousel li {
	float:left;
	width:250px;
	height:350px;
	margin:0;
	padding:0;
	list-style:none;
	color:#FFF;
	font:3em/1.2 Georgia, "Times New Roman", Times, serif;
	text-align:center;
	background:#C00;
}
