h1
{
  font-size: 40px;
  letter-spacing: -0.8px;
  color: #FF5A5F;
  font-family: inherit;
  font-weight: bolder;
}
h2
{
  font-size: 40px;
  letter-spacing: -0.8px;
  font-family: inherit;
}
h3{
  font-size: 25px;
  font-weight: bold;
}

input
{
  background-color: transparent;
  border:none;
}
select
{
  background-color: transparent;
  border:none;
}
.imageTop
{
  width: 100%;
}
#sizechars1, #sizechars2, #sizechars3, #sizechars4{
  font-size: 10px;
  color: #8F827E;
  font-weight: bold;
}
.colorStar{
  font-size: 30px;
  color : #0FAB9F;
}
.text{
font-size: 18px;
}
