h1
{
  font-size: 40px;
  letter-spacing: -0.8px;
  color: #FF5A5F;
  font-family: inherit;
  font-weight: bolder;
}
h2
{
  font-size: 40px;
  letter-spacing: -0.8px;
  font-family: inherit;
}
input
{
  background-color: transparent;
  border:none;
}
select
{
  background-color: transparent;
  border:none;
}
.imageHaut
{
  width: 100%;
}
.lesImagesTop
{
  margin-top: 10px;
}
.leMenuDeSelection
{
  margin-top: 30px;
}
.leMenuDeSelection h3
{
  padding-left: 15px;
}
.etoile
{
  font-size: 10px;
  color:#0FAB9F;
}
a
{
  color:black;
}
a:hover
{
  color:black;
}
.policeDeCaractere
{
  color:#484848;
  font-size:12px;
}
